.charPane {
    display: flex;
    flex-direction: column;
    border: 1px yellow solid;
    align-items: center;

    &__middle {
        display: flex;
    }

    &__leftpanel {
        &__itemslot {
            border: 1px red solid;
            height: 50px;
            width:  50px;
            margin: 2px;
        }
    }

    &__middlepanel {
        border: 1px grey solid;
        height: 428px;
        width:  300px;
        margin-top: 2px;
    }

    &__rightpanel {
        &__itemslot {
            border: 1px green solid;
            height: 50px;
            width:  50px;
            margin: 2px;
        }
    }

    &__bottompanel {
        &__list {
            display: flex;
            flex-direction: row;
        }
        &__itemslot {
            border: 1px orange solid;
            height: 50px;
            width:  50px;
            margin: 2px;
        }
    }
}